.about-bg {
    width: 100%; 
    background-size: cover;
}

.about-title {
    display: inline-block;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    font-size: 30px;
    text-align: center;
}

.about-sub-title {
    display: inline-block;
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    font-size: 25px;
    text-align: center;
}

.about-down {
    display: inline-block;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.about-yoohuu {
    display: inline-block;
    position: fixed;
    top: 5%;
    left: 2%;
    transform: translate(-50%,-50%);
    width: 30px;
    height: 70px;
}

.about-menu {
    display: inline-block;
    position: fixed;
    bottom: 93%;
    left: 98%;
    transform: translate(-50%,-50%);
    width: 40px;
    height: 40px;
}

.about-one {
    display: inline-block;
    position: absolute;
    top: 130%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 35px;
    height: 60px;
}

.about-yoohuu-h1 {
    display: inline-block;
    position: absolute;
    top: 140%;
    left: 49%;
    transform: translate(-50%,-50%);
    width: 180px;
    height: 50px;
    text-decoration: underline;
    text-underline-position: under;
    color: #988564;
    font-size: 30px;
    white-space: nowrap;
    text-align: center;
}

.about-page2-main {
    display: inline-block;
    width: 500px;
    height: 620px;
    position: absolute;
    top: 180%;
    left: 62%;
    transform: translate(-50%,-50%);
}

.about-page2-h2 {
    display: inline-block;
    text-align: left;
    font-size: 20px;
    position: absolute;
    top: 158%;
    left: 33%;
    transform: translate(-50%,-50%);
}

.about-page2-one {
    display: inline-block;
    position: absolute;
    top: 167%;
    left: 33%;
    transform: translate(-50%,-50%);
    text-align: left;
    font-size: 18px;
}

.about-page2-textone {
    display: inline-block;
    position: absolute;
    top: 171%;
    left: 33%;
    transform: translate(-50%,-50%);
    text-align: left;
    font-size: 16px;
}
.about-page2-two {
    display: inline-block;
    position: absolute;
    top: 177%;
    left: 33%;
    transform: translate(-50%,-50%);
    text-align: left;
    font-size: 18px;
}

.about-page2-texttwo {
    display: inline-block;
    position: absolute;
    top: 181%;
    left: 33%;
    transform: translate(-50%,-50%);
    text-align: left;
    font-size: 16px;
}

.about-page2-thr {
    display: inline-block;
    position: absolute;
    top: 187%;
    left: 33%;
    transform: translate(-50%,-50%);
    text-align: left;
    font-size: 18px;
}

.about-page2-textthr {
    display: inline-block;
    position: absolute;
    top: 191%;
    left: 33%;
    transform: translate(-50%,-50%);
    text-align: left;
    font-size: 16px;
}

.about-page3-main {
    display: inline-block;
    width: 500px;
    height: 620px;
    position: absolute;
    top: 255%;
    left: 38%;
    transform: translate(-50%,-50%);
}

.about-page3-h3 {
    display: inline-block;
    text-align: left;
    font-size: 20px;
    position: absolute;
    top: 233%;
    left: 68%;
    transform: translate(-50%,-50%);   
}

.about-page3-one {
    display: inline-block;
    position: absolute;
    top: 242%;
    left: 68%;
    transform: translate(-50%,-50%);
    text-align: left;
    font-size: 18px;
}

.about-page3-two {
    display: inline-block;
    position: absolute;
    top: 246%;
    left: 68%;
    transform: translate(-50%,-50%);
    text-align: left;
    font-size: 17px;
}

.about-page3-thr {
    display: inline-block;
    position: absolute;
    top: 254%;
    left: 68%;
    transform: translate(-50%,-50%);
    text-align: left;
    font-size: 17px;
}