.about-bg {
    width: 1903px; height: 969px;
    background-size: cover;
}

.about-bg {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.about-title {
    display: inline-block;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    font-size: 30px;
    text-align: center;
}

.about-sub-title {
    display: inline-block;
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    font-size: 25px;
    text-align: center;
}

.about-down {
    display: inline-block;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.about-yoohuu {
    display: inline-block;
    position: fixed;
    top: 5%;
    left: 2%;
    transform: translate(-50%,-50%);
    width: 30px;
    height: 70px;
}

.about-menu {
    display: inline-block;
    position: fixed;
    bottom: 93%;
    left: 98%;
    transform: translate(-50%,-50%);
    width: 40px;
    height: 40px;
}

.about-one {
    display: inline-block;
    position: absolute;
    top: 130%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 35px;
    height: 60px;
}

.about-yoohuu-h1 {
    display: inline-block;
    position: absolute;
    top: 140%;
    left: 49%;
    transform: translate(-50%,-50%);
    width: 180px;
    height: 50px;
    text-decoration: underline;
    text-underline-position: under;
    color: #988564;
    font-size: 30px;
    white-space: nowrap;
    text-align: center;
}

.about-main {
    display: inline-block;
    width: 500px;
    height: 620px;
    position: absolute;
    top: 180%;
    left: 62%;
    transform: translate(-50%,-50%);
}

.about-page2-h2 {
    display: inline-block;
    text-align: left;
    font-size: 20px;
    position: absolute;
    top: 158%;
    left: 33%;
    transform: translate(-50%,-50%);
}

.about-page2-one {
    display: inline-block;
    position: absolute;
    top: 165%;
    left: 33%;
    transform: translate(-50%,-50%);
    text-align: left;
    font-size: 18px;
}

.about-page2-textone {
    display: inline-block;
    position: absolute;
    top: 169%;
    left: 33%;
    transform: translate(-50%,-50%);
    text-align: left;
    font-size: 16px;
}
.about-page2-two {
    display: inline-block;
    position: absolute;
    top: 175%;
    left: 33%;
    transform: translate(-50%,-50%);
    text-align: left;
    font-size: 18px;
}

.about-page2-texttwo {
    display: inline-block;
    position: absolute;
    top: 179%;
    left: 33%;
    transform: translate(-50%,-50%);
    text-align: left;
    font-size: 16px;
}


